html {
  background: #dda46b;
  font-size: 14px;
  height: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  overscroll-behavior: none;
  background: #e9d1b7;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  min-height: 100%;
  position: relative;
}

div, footer, header, main section, section {
  display: block;
}

header {
  overflow: hidden;
  height: 20%;
  width: 100%;
  margin-bottom: 30px;
}

header img {
  margin: 0 auto;
  height: auto;
  height: 15%;
  width: 15%
}

.logo {
  padding:  10px 2px 2px;
  display: flex;
}

.main-container {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

footer {
  margin: 0 auto 0;
  display: table;
  max-width: 1140px;
}

.payment {
  background: rgb(221, 182, 182);
  border-radius: 10px;
  display: flex;
  margin: 0;
  min-height: 576px;
  position: relative;
}
.payment-method {
  background:#e7aa5b;
  border-radius: 8px 0 0 8px;
  display: flex;
  flex-basis: auto;
  max-width: auto;
  padding: 40px 66px;
  box-sizing: border-box;
}


.payment-data {
  background: #e79a35;
  border-radius: 0 8px 8px 0;
  display: flex;
  flex-basis: 60%;
  max-width:  60%;
  padding: 15px 20px;
  box-sizing: border-box;
}
.payment-options__method_button{
  margin-bottom: auto;
  display: flex;
  border: #e79a35;
  width: 50;

}



.payment-options__method-items-option {
  padding: 30px;
  margin-bottom: 20px;
  padding: 5px; 
  width: 50%;
  border: thin solid rgb(71, 48, 18);
  

}


.payment-payment-data__exp-cvv {
  display: flex;
  margin-bottom: 24px;
}

.card-number {
  margin: 0 0 3px;
}
.card-number .card-logo {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: auto;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  left: 16px;
  position: absolute;
  top: 26.5px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 16px;
}

.card-wrapper {
  position: relative;
}
.card-exp {
  padding-right: 10px;
  -webkit-box-flex: 1;
  flex: 1;
  margin: 0;
}
.card-cvv {
  flex-basis: 50%;
}


button {
  overflow: visible;
}
button, input, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input {
  background-color: #fff;
  margin-bottom: 15px;
  border: 1px solid #caccd4;
  border-radius: 4px;
  padding: 16px 48px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  width: 100%;
  box-sizing: border-box;
}
.payment-options__method-items-option {
  padding-right: 10px;
  -webkit-box-flex: 1;
  flex: 50;
  margin: 0;

}

.submit {
  border: 1px solid #493801;
  border-radius: 4px;
  background-color: #5a4812;
  color: rgb(245, 235, 235);
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 1.14rem;
  font-weight: 500;
  margin: auto 0 0;
  padding: 12px;
  position: relative;
  text-align: center;
  transition: .2s ease-in-out;
  width: 100%;
  z-index: 1;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 1000%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(15, 1, 1);
  width: 600px;
}

.modal-content p {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(56, 20, 20);
  text-decoration: none;
  cursor: pointer;
}
.close:after {
  display: none;